//Flexbox
@mixin flex (
    $direction: initial,
    $justify: initial,
    $align: initial,
    $gap: initial
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

//Media Queries
$desktop: 1440px;
$tablet: 1024px;
$mobile-l: 640px;
$mobile-s: 375px;

@mixin responsive ($responsive) {
    @if $responsive == 'desktop' {
        @media (min-width: calc($desktop)){
            @content;
        }
    }
    @if $responsive == 'tablet' {
        @media (max-width: calc($tablet)) {
            @content;
        }
    } @else if $responsive == 'mobile-l' {
        @media (max-width: calc($mobile-l)) {
            @content;
        }
    } @else if $responsive == 'mobile-s' {
        @media (max-width: calc($mobile-s)) {
            @content;
        }
    }
}