.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 3fr));
    row-gap: 50px;
    column-gap: 60px;
    justify-content: center;
    width: 100%;
    max-width:1240px;
    background-color: $secondary-color;
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
    .card {
        @include flex();
        position: relative;
        height: 340px;
        padding: 20px;
        border-radius: 10px;
        overflow: hidden;
        background-color: $primary-color;
        color: white;
    }
    h2 {
        position: relative;
        align-self: flex-end;
    }

    @include screen-size(mobile-l) {
        padding: 0;
        margin-bottom: 27px;
        background-color: white;
        row-gap: 20px;
        .card {
            height: 255px;
        }
    }
    @include screen-size(mobile-s) {
        grid-template-columns: repeat(auto-fill,minmax(90%, 3fr));
    }
}
