header {
    .logo {
        width: 211px;
        height: 68px;
        @include screen-size(mobile-l) {
            width: 140px;
            height: 46px;
            margin-top:-10px;
        }
    }
}

footer {
    .logo {
        width: 122px;
        
    }
}