nav {
    @include flex($align: center);
    font-size: 24px;
    
    ul {
        @include flex($gap:57px);
    }
    
    a {
        position: relative;
        display: block;
        text-decoration: none;
        color: $B;
        cursor: pointer;
        &::after {
            content: '';
            display: block;
            text-decoration: underline;
            height: 1px;
            background-color: $B;
            transform: scale(0);
            transition: transform 0.2s ease-in-out;
        }
        &:hover:after {
            transform: scale(1);
        }
        &.active {
            border-bottom: 1px solid $B;
        }
    }
    @include responsive(mobile-l) {
        ul {
            gap: 26px;
            margin-top: -10px;
        }
        a {
            font-size: 12px;
            text-transform: uppercase;
        }
    }
}

