//Notation logements

.rating {
    @include flex($gap: 4px);
    height: 36px;
    align-self: flex-start;
    .star {
        height: 36px;
        width: 36px;
        align-self: center;
    }
    @include responsive(mobile-l) {
        height: 18px;
        gap: 5.5px;
        .star {
            padding: 0;
            height: 20px;
            width: 20px;
        }
    }
}